footer {
  display: flex;
  flex-direction: column;
  margin: auto 0 0;
  padding: 4em 0 2em;
  flex-wrap: wrap;
  justify-content: center;
  
  @media (min-width: $phone-tablet) {
    flex-direction: row;
  }
}

.footer--item {
  line-height: 1.4em;
  margin: 0 0 0.8em;

  &::before {
    color: #bbb;
    padding: 0 0.8em;
  }
  
  &:first-child {
    order: 1;
  }
  
  @media (min-width: $phone-tablet) {
    &:first-child {
      order: 0;
    }

    &:not(:last-child):not(:first-child)::before {
      content: '/';
    }
  }

  &:last-child {
    width: 100%;
    order: 1;
  }
}

.footer--print {
  display: none;

  .page:not([data-path=""]) & {
    display: block;
  }
}