<footer>
  <p>API access is <strong class="light">$</strong><span class="sans">&thinsp;</span><a href="/api/">available here</a></p>
  <p>Having trouble? <a href="mailto:cv@theprojectsomething.com">Reach out</a></p>
  <p class="footer--print">You can <a href="javascript:window.print();">print</a> this page</a></p>

  <div class="light">
    <small>Made with 🖤 in <a href="https://theprojectsomething.com">Cairns, Australia</a>. <a href="https://thesom.au/gh/cv">MIT licensed.</a></small>
  </div>
</footer>